/* src/components/Sidebar.css */
.app-sidebar {
    background-color: var(--background-color);
    color: var(--sidebar-text-color); /* Use the sidebar-specific text color */
  }
  
  /* .app-sidebar-section h2 {
    color: var(--sidebar-text-color); /* Use the sidebar-specific text color */
  
