.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000; 
    text-decoration: underline;
  }


.log-button{
    background-color: black;
    color: white;
    height: 3em;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 11px;
}

input{
    height: 2em;
  border-radius: 5px;
  border: 1px;
}