body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
:root {
  --background-color: #4F3C32;
  --text-color: white;
  --sidebar-text-color: rgb(255, 250, 250); /* Default sidebar text color */
  --sidebar-background-color: #4F3C32;
  --toggle-background-color: #4F3C32;
  --toggle-text-color: white; 
  --header-background-color:#4F3C32;
}

[data-theme='dark'] {
  --background-color: white;
  --text-color: #4F3C32;
  --sidebar-text-color: #4F3C32; /* Default sidebar text color */
  --sidebar-background-color: rgb(255, 250, 250); /* Default sidebar background color */
  --toggle-background-color: white;
  --toggle-text-color: #4F3C32; 
  --header-background-color: white;
}